<template name="user" >
    
    <div class="col-xs-12 col-md-8"> 

        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            Chat

                <div class="input-group">
                    <input id="user" type="text" class="form-control input-sm" placeholder="Enter your name..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-user">
                            Send
                        </button>
                    </span>
                </div>
            </div>
        </div>

    </div>

    
</template>